div.App h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 2.6rem;
  font-weight: 400;
}
div.App div.button-handle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
div.App div.button-handle button {
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none;
  padding: 7px 10px;
  border-radius: 4px;
  margin-bottom: 3rem;
  box-shadow: var(--box-shodow);
}
div.App div.button-handle button:hover {
  background-color: var(--hover-color);
  transition: 0.3s;
}
.card1 {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  flex-direction: row;
  margin-bottom: 2rem;
  animation: animation 0.8s 1;
  
}

.card {
  width: 50%;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  width: 20rem;
  height: 20rem;
  margin: 1px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  animation: animation 0.5s 1;

  
}
.card div.div-handle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: animation 0.5s 1;
}
.card div.div-handle span {
  background-color: var(--button-color);
  padding: 5px;
  color: var(--button-text-color);
  border-radius: 4px;
}
.card img {
  height: 15rem;
  width: 19rem;
  border-radius: 8px;
  margin-top: -6rem;
  
}
.card p {
  color: var(--p-color);
}
@keyframes animation{
  0%   {scale: 0;}
  60% {scale: 1.1;}
  100% {scale: 1;}
}
